<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Calorie Guessing Game</title>
</head>
<body>
    <header>
        <h1>The Calorie Guessing Game</h1>
    </header>
    <container class="main-menu">
        <ul class="main-menu-list">
            <li class="main-menu-list-item"><span id="play-game-1" class="clickable">Guess Calorie Game</span></li>
            <li class="main-menu-list-item"><span class="clickable">Guess Lower Calorie Food Game</span></li>
            <li class="main-menu-list-item"><span class="clickable">How To Play</span></li>
            <li class="main-menu-list-item"><span class="clickable">Leaderboard</span></li>
        </ul>
    </container>
    <footer>
        <a href="https://www.fatsecret.com">
            <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png" srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x" border="0"/>
        </a>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>